version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ee
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"

  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
